<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.csdhsm.taoyuan.mapper.InfoMapper">
	
	<!-- 获取所有InfoCategory -->
	<select id="getCategories" resultType="com.csdhsm.taoyuan.models.InfoCategory">
		select * from infoCategory;
	</select>
	
	<!-- 根据某个属性排序得到Info的集合 -->
	<select id="getInfosBySorted" parameterType="java.lang.String" resultType="com.csdhsm.taoyuan.models.Info">
		select * from info order by #{sort};
	</select>
</mapper>