<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" 
xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
">

	<!-- 引入jdbc配置文件,在配置DataSourse 数据源连接池的时候使用  spring-mybatis.xml -->
	<!-- <context:property-placeholder location="classpath:jdbc.properties" /> -->

	<!-- 自动写入文件 -->
	<context:component-scan base-package="com.csdhsm.taoyuan.service" />
	
	<!-- 引入配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
		    <list>   
		      <!-- 引入JDBC的配置文件,在Spring-mybatis.xml 中使用 -->
              <value>classpath:jdbc.properties</value>  
		      <!-- 引入email的配置文件 -->
              <value>classpath:email.properties</value>  
            </list>  
		</property>
	</bean>
	
	<bean id="sendMail" class="com.csdhsm.taoyuan.models.SendMail">
		<property name="mailServerHost" value="${email.mailServerHost}"></property>
		<property name="mailServerPort" value="${email.mailServerPort}"></property>
		<property name="fromAddress" value="${email.fromAddress}"></property>
		<property name="userName" value="${email.userName}"></property>
		<property name="password" value="${email.password}"></property>
	</bean>
	
	<bean class="com.csdhsm.taoyuan.models.BaseResponseByJson"></bean>
	<bean class="com.csdhsm.taoyuan.models.UserLogin"></bean>
	<bean class="com.csdhsm.taoyuan.models.UserComfirmCode"></bean>
	<bean class="com.csdhsm.taoyuan.models.PageBean"></bean>
</beans>